<div
  id="mainContainer"
  class="container"
  style="background: rgba(0, 0, 0, 0.9);"
>
  <div id="carouselExampleControls" class="carousel slide w-50 m-auto" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/Carr_catalogo.png" class="d-block w-100 carrImg-custom " alt="catalogo">
        <div class="carr-text">
          <button class="carr-button" routerLink="catalogo">CATÁLOGO</button><br>
          <span class="carr-text">Descubre nuestro amplio catálogo de carne de alta calidad, embutidos y encurtidos. Todo cuidadosamente seleccionado 
            de los mejores proveedores.</span>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/Carr_aprende.png" class="d-block w-100 carrImg-custom " alt="aprende">
        <div class="carr-text">
          <button class="carr-button" routerLink="aprende">APRENDE</button><br>
          <span class="carr-text">Descubre las curiosidades más interesantes sobre el gremio. Aprende sobre el despiece y cortes de los animales, así
            como las técnicas y herramientas que empleamos.</span>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/Carr_snosotros.png" class="d-block w-100 carrImg-custom " alt="snosotros">
        <div class="carr-text">
          <button class="carr-button" routerLink="snosotros">SOBRE NOSOTROS</button><br>
          <span>Carnicería familiar con cuatro generaciones de experiencia. ¡Visítanos y descubre por qué somos la carnicería
            preferida de nuestra comunidad! </span>
        </div>
      </div>
    </div>
  </div>
</div>