:host{
    display: flex;
    min-height: calc(100vh - 318px);
    background-color: black;
}

input{
    width: 100%;
}

#Pedidos{
    width: 50%;
    height: auto;
}
#ContStock{
    width: 50%;
    height: auto;
}

table{
    width: 40vw;
    height: auto;
    margin: 10px;
}
th{
    border:2px solid white;
    background-color: rgb(56, 52, 52);
    color: white;
}
tr{
    border:2px solid white;
    height: auto;
}
td{
    border:2px solid white;
}

