<!--Contenedor principal del footer-->
<div class="row py-3" style="border-top: 2px solid #964747; background-color: rgb(41, 41, 41)">

  <!--Logo y copyright-->
  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="text-align: center">
    <img
      src="../../../assets/LogosimpleBORDE.png"
      alt="Logotipo"
      style="width: 120px"
    />
    <span class="pt-1" style="color: rgb(100, 100, 100); font-size: 10px">
      <br>Copyright © 2023 - Carnes Varillas
    </span>
  </div>

  <!--Espaciado-->
  <div
    class="col-xl-3 col-lg-3 col-md-12 col-sm-12"
    style="display: flex; align-items: end"
  ></div>

  <!--Información-->
  <div
    class="col-xl-2 col-lg-3 col-md-12 col-sm-12"
    style="text-align: left; justify-content: center"
  >
    <p class="tituloFooter">Información</p>
    <div>
      <a class="textoFooter" style="text-decoration: none;" routerLink="snosotros">Sobre nosotros</a>
      <br>
      <span class="textoFooter">Contáctanos</span>
      <br>
      <span class="textoFooter">Localización</span>
      <br>
    </div>
  </div>
  
  <!--Redes sociales-->
  <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12" style="text-align: center">
    <p class="tituloFooter">Redes sociales</p>
    <div id="Redes" class="pt-3">
      <a href="https://www.facebook.com/carnesvarillas/" target="_blank"><img src="../../../assets/social-fb.png" alt="" class="sn-icon" /></a>
      <a href="https://goo.gl/maps/cDz9WEf1ppE9iUaM9" target="_blank"><img src="../../../assets/social-gm.png" alt="" class="sn-icon" /></a>
      <a href="" target="_blank"><img src="../../../assets/social-goog.png" alt="" class="sn-icon" /></a>
      <a href="https://www.instagram.com/carnes_varillas/?hl=es" target="_blank"><img src="../../../assets/social-ig.png" alt="" class="sn-icon" /></a>
    </div>
  </div>
</div>
