.row{
    margin: 0;
}
.sn-icon{
    width: 50px;
    margin-left: 10px;
    cursor: pointer;
}

.tituloFooter{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #964747;
}

.textoFooter{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
}