<div class="container p-0 pb-5 d-flex" style="background: rgba(0, 0, 0, 0.9); align-items: center;">
    <div id="contacto">
        <fieldset>
            <legend>Contacto</legend>
            <span style="color: white">Puedes contactar con nosotros en:</span>
        </fieldset>
    </div>
    <div id="ubicacion">
        <fieldset class="d-flex">
            <legend>Ubicación</legend>
            <span> C/ Foso 103</span>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2569.0697804464853!2d-3.59955750813464!3d40.02729496195669!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4205be918bcc0f%3A0x72c102291ddbb127!2sCarnes%20Varillas!5e0!3m2!1ses!2ses!4v1682072189688!5m2!1ses!2ses" 
                    width="600" 
                    height="300" 
                    style="border:2px #AC4545 solid;" 
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </fieldset>
    </div>
</div>