<div class="container p-0 pb-5" style="background: rgba(0, 0, 0, 0.9); align-items: center">
  <div class="w-100" style="height: 100px; color: white;" id="headerContainer">
    Información de contacto
  </div>
  <div class="container p-0 pb-5 d-flex" id="infoContainer">
    <div id="contacto" class="d-flex align-items-center">
      <fieldset style="height: 330px;">
        <legend>Contacto</legend>
        <span style="color: white;">
          <h5 class="mb-4">¡Puedes contactar con nosotros como prefieras!</h5>
          <span>
            Correo:
            <a href="mailto:Varillascarniceria@gmail.com" style="color:#ac4545">Varillascarniceria@gmail.com</a
            ><br />
            Teléfono particulares: 667694860 <br>
            Teléfono hosteleros: 667694861
            <div id="Redes" style="text-align: center; margin-top: 20px;">
              <a href="https://www.facebook.com/carnesvarillas/" target="_blank"><img src="../../../assets/social-fb.png" alt="" class="sn-icon" /></a>
              <a href="https://goo.gl/maps/cDz9WEf1ppE9iUaM9" target="_blank"><img src="../../../assets/social-gm.png" alt="" class="sn-icon" /></a>
              <a href="" target="_blank"><img src="../../../assets/social-goog.png" alt="" class="sn-icon" /></a>
              <a href="https://www.instagram.com/carnes_varillas/?hl=es" target="_blank"><img src="../../../assets/social-ig.png" alt="" class="sn-icon" /></a>
            </div>
          </span>
        </span>
      </fieldset>
    </div>
    <div id="ubicacion">
      <fieldset style="height: 330px;">
        <legend>Ubicación</legend>
        <div style="display: block; color: white;">
          <span class="mb-3">
            C/ Foso, 101 <br>
            28300 - Aranjuez  (Madrid)
          </span>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2569.0697804464853!2d-3.59955750813464!3d40.02729496195669!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4205be918bcc0f%3A0x72c102291ddbb127!2sCarnes%20Varillas!5e0!3m2!1ses!2ses!4v1682072189688!5m2!1ses!2ses"
            width="100%"
            height="auto"
            style="border: 2px #ac4545 solid"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </fieldset>
    </div>
  </div>
  <div id="despContainer">
    Estaremos encantados de atenderte. <br>Esperamos verte pronto por nuestro local y que puedas formar parte de esta pequeña familia
  </div>
</div>
