<!--Contenedor principal-->
<div id="mainContainer"
  class="container"
  style="background: rgba(0, 0, 0, 0.9)">
    <!--Encabezado-->
    <h1 class="my-5" style="text-align: center;">NUESTRA HISTORIA</h1>
    <!--Contenedor de artículo-->
    <div class="mx-5">
        <!--Primer párrafo-->
        <div class="d-inline-flex">
            <span>
                En el año 1920 nuestro abuelo Ángel Durán Gutierrez (Varillas) montó una pequeña 
                carnicería en el Mercado de Abastos de Aranjuez dedicada exclusivamente a la venta de vacuno menor
                (ternera), cordero lechal y elaborados caseros.Actualmente nos encontramos en la cuarta generación de carniceros gracias a la confianza que nuestros clientes
                siempre han depositado en nosotros. <br>
                <div class="text-center">
                    <img src="../../../assets/foto3.jpg" alt="mercadofuera" class="m-3" style="width: 400px">
                    <img src="../../../assets/foto2.jpg" alt="mercado" class="m-3" style="width: 220px">
                </div>
            </span>
            
        </div>
        <!--Segundo párrafo-->
        <div class="d-inline-flex mt-2">
            101 años después, tras una gran etapa en el Mercado de Abastos hemos decidido emprender una nueva aventura
            abriendo un local independiente en Aranjuez junto a nuestro obrador, donde elaboramos todo tipo de productos 
            manufacturados. Fué una decisión difícil, tras tragar saliva y decir adiós a decenas de años en un mismo establecimiento,
            a recuerdos forjados durante todos esos años y a amigos comerciantes y antecesores de éstos, 
            conseguimos mirar hacia adelante para poner rumbo a algo completamente desconocido para nosotros. Gracias a que nunca nos
            faltó apoyo por todas las partes, compañeros y clientes, pudimos dejar el Mercado de Abastos con una sonrisa de oreja a oreja.
            <img src="../../../assets/foto5.jpg" alt="apertura" class="m-3 mt-0" style="width: 340px">
        </div>
        <!--Tercer párrafo-->
        <div class="d-inline-flex mt-2 align-items-center">
            <img src="../../../assets/foto4.jpg" alt="reparto" class="m-3" style="width: 500px">
            Este cambio lo hicimos justo después de afrontar la pandemia de la mejor forma posible, ofreciendo
            a nuestros clientes un servicio de reparto a domicilio que sería clave para poder mantenernos en pie y ganar la confianza
            de nuevos clientes a los que hoy podemos considerar buenos amigos.
        </div>
        <!--Cuarto párrafo-->
        <div class="d-inline-flex mt-2">
            Gracias a vosotros y a nuestra dedicacíon, lo que empezó siendo un vertiginoso paso hacia lo
            desconocido se ha convertido en un éxito personal y comercial.
            Estaremos encantados de seguir dado el mejor servicio a nuestra clientela tras el nuevo cambio generacional
            en el que nos encontramos junto con nuevos productos, técnicas y herramientas que harán de esta experiencia
            algo de lo que puedan disfrutar y recordar con cariño.
        </div>
        <!--Despedida y imagen omenaje-->
        <h1 style="text-align: center; margin-top: 60px;">¡MUCHAS GRACIAS!</h1>
        <img src="../../../assets/foto1.jpg" alt="caricatura" class="d-block m-auto my-4" style="width: 700px">
    </div>
</div>
